<div class="container">
    <div class="row" *ngFor="let list of array ">
        <h3 class="mt-3" >{{list.data==todayDate?"Today's Task ":list.data}}</h3>
        <div class="col-md-4" *ngFor="let item of list.taskData">
            <div class="card mt-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title" style="color:#a7e8a9;">{{item.task_name}}</h5>
                        <img src="../../../assets/delete.png" class="delete-icon" (click)="openModal(template)"  alt="delete icon">
                    </div>
                </div>
            </div>
            <ng-template #template>
                <div class="modal-body text-center">
                  <p>Do You Really Want to Delete?</p>
                  <button type="button" class="btn btn-default" (click)="deleteTask(item.id) " (click)="confirm()" >Yes</button>
                  <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                </div>
              </ng-template>
        </div>
    </div>
</div>
