.card{
    border: none;
    background-color:white ;
    border-radius: 16px;
}
.card-body button{
    color: white;
    background-color: #87df8a;
    border: none;
    outline: none;
    padding:5px;
    border-radius: 5px;
}
.delete-icon{
    background-color: #ff7575;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}