<div class="d-flex flex-column sticky flex-shrink-0 p-3 main bg-light">
  <div class="text-align">
    <img src="../../../assets\image.png" alt="image" style="width:100px; height:100px; ">
  </div>
  <h2 class=" text-align">Jerry Luis</h2>
  <h6 class=" text-align">JerryLuis@gmail.com</h6>
  <div class="btn-box">
    <button type="button" class="btn w-100  buttons p-4" routerLink="home">
      <svg class="w-64 h-64 " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="26" width="26"
      fill="currentColor">
      <path d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"></path>
    </svg>
      Home</button>
    <button type="button" routerLink="delete" class="btn buttons w-100  p-4"><svg class="w-64 h-64" xmlns="http://www.w3.org/2000/svg"  height="26" width="26" viewBox="0 0 24 24" fill="currentColor"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"></path></svg>
      Delete</button>
  </div>
</div>